<div class="container">
    <form [formGroup]="filterService.filtersForm">
        <div class="row search-filters">
            <div class="form-group col-m">
                <label for="query">Search by Title, Keyword or File Type</label>
                <input id="query" formControlName="query" type="text" class="form-control">
            </div>
            <div class="form-group col-sm">
                <label for="typeFilters">Filter by type</label>
                <select id="typeFilters" class="form-control" formControlName="type">
                    <option
                        *ngFor="let option of typeFilters"
                        [value]="option.code">
                        {{ option.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm">
                <label for="sortFilters">Filter by order</label>
                <select id="sortFilters" class="form-control" formControlName="order">
                    <option
                        *ngFor="let option of sortFilters"
                        [value]="option.code">
                        {{ option.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm">
                <button class="btn btn-success" (click)="filterService.clearFilters()">Clear filters</button>
            </div>
        </div>
    </form>

    <div class="list-group" *ngIf="filteredList$ | async as items">
        <div class="list-group-item" *ngFor="let item of items">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ item.title }}</h5>
              <small>{{ item.type.name }}</small>
            </div>
            <small *ngFor="let keyword of item.keywords">{{ keyword.name }}</small>
        </div>
    </div>
</div>